<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Funcionários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='exibir_funcionarios.css') }}">
</head>

<body>
    <div class="container">
        <h1>Lista de Funcionários</h1>
        <a href="{{ url_for('index') }}" class="botao_voltar"><button type="button">Voltar ao Menu Principal</button></a>
        <ul>
            {% for funcionario in funcionarios %}
                <li>
                    <strong>Matrícula:</strong> {{ funcionario['Matrícula'] }},
                    <strong>Nome:</strong> {{ funcionario['Nome'] }},
                    <strong>Setor:</strong> {{ funcionario['Setor'] }},
                    <strong>Turno:</strong> {{ funcionario['Turno'] }}
                    {% if 'Histórico' in funcionario %}
                        <ul>
                            {% for historico in funcionario['Histórico'] %}
                                <li>
                                    <strong>EPI:</strong> {{ historico['EPI'] }},
                                    <strong>Quantidade:</strong> {{ historico['Quantidade'] }},
                                    <strong>Data:</strong> {{ historico['Data'] }}
                                    {% if historico['EPI'] == 'Botas' %}
                                        <strong>Tamanho:</strong> {{ historico['Tamanho'] }}
                                    {% endif %}
                                    <!-- Botão de exclusão de histórico para cada item do histórico -->
                                    <a href="{{ url_for('excluir_historico', matricula=funcionario['Matrícula'], epi=historico['EPI'], data=historico['Data']) }}">
                                        <button type="button" class="botao_excluir">Excluir EPI</button>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <!-- Botão de exclusão para cada funcionário -->
                    <a href="{{ url_for('excluir_funcionario', matricula=funcionario['Matrícula']) }}">
                        <button type="button" class="botao_excluir">Excluir Funcionário</button>
                    <a href="#" data-matricula="{{ funcionario['Matrícula'] }}" class="botao_requisitar">Requisitar EPI</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        // Adiciona um ouvinte de evento para os botões "Requisitar EPI"
        var botoesRequisitarEPI = document.querySelectorAll('.botao_requisitar');
        botoesRequisitarEPI.forEach(function (botao) {
            botao.addEventListener('click', function () {
                var matricula = botao.getAttribute('data-matricula');
                openRequisitarEPIPage(matricula);
            });
        });

        // Função para abrir a página de requisitar EPI
        function openRequisitarEPIPage(matricula) {
            window.location.href = `/requisitar_epi.html?matricula=${matricula}`;
        }
    </script>
</body>

</html>
