<!DOCTYPE html>
<html lang="pt">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='requisicao_epi_sucesso.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisição de EPI</title>
</head>
<body>
    <h1>EPI requisitado com sucesso</h1>
    <p>A requisição de EPI foi realizada com sucesso para o funcionário de matrícula {{ matricula }}!</p>
    <p>Detalhes da Requisição:</p>
    <ul>
        <li>EPI: {{ epi }}</li>
        <li>Quantidade: {{ quantidade }}</li>
        {% if epi == 'Botas' %}
            {% if tamanho %}
                <li>Tamanho: {{ tamanho }}</li>
            {% else %}
                <li>Tamanho: não especificado</li>
            {% endif %}
        {% endif %}
    </ul>
    <a href="{{ url_for('index') }}" class="botao_voltar"><button type="button">Voltar ao Menu Principal</button></a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>