<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requisitar EPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='requisitar_epi.css') }}">
</head>
<body class="body-container">
    <div class="form-container">
        <h1>Requisitar EPI</h1>
        <a href="{{ url_for('index') }}" class="botao_voltar"><button type="button">Voltar ao Menu Principal</button></a>
        <form method="POST" action="/requisitar_epi.html">

            <label for="matricula">Matrícula:</label>
            <input type="text" id="matricula" name="matricula" required>

            <br>
            
            <label for="epi">EPI:</label>
            <select id="epi" name="epi" required>
                <option value="Luvas">Luvas</option>
                <option value="Botas">Botas</option>
                <option value="Óculos">Óculos</option>
                <option value="Fones">Fones</option>
            </select>
            <br>
            <div id="quantidade-container">
                <label for="quantidade">Quantidade:</label>
                <input type="number" id="quantidade" name="quantidade" required>
            </div>
            <div id="tamanho-container" style="display: none;">
                <label for="tamanho">Tamanho:</label>
                <input type="text" id="tamanho" name="tamanho">
            </div>
            <div id="dropdown-tamanho-container" style="display: none;">
                <label for="dropdown-tamanho">Tamanho:</label>
                <select id="dropdown-tamanho" name="dropdown-tamanho">
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                </select>
            </div>
            <br>

            <button type="submit">Requisitar</button>

            <br>

        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.getElementById('epi').addEventListener('change', function () {
            var selectedEPI = this.value;
            var quantidadeContainer = document.getElementById('quantidade-container');
            var tamanhoContainer = document.getElementById('tamanho-container');
            var dropdownTamanhoContainer = document.getElementById('dropdown-tamanho-container');

            if (selectedEPI === 'Botas') {
                quantidadeContainer.style.display = 'block';
                tamanhoContainer.style.display = 'none';
                dropdownTamanhoContainer.style.display = 'block';
            } else {
                quantidadeContainer.style.display = 'block';
                tamanhoContainer.style.display = 'none';
                dropdownTamanhoContainer.style.display = 'none';
            }
        });
                document.addEventListener('DOMContentLoaded', function () {
            var matriculaInput = document.getElementById('matricula');
            var searchParams = new URLSearchParams(window.location.search);
            var matricula = searchParams.get('matricula');

            if (matricula) {
                // Se a matrícula foi passada, preenche e torna o campo não editável
                matriculaInput.value = matricula;
                matriculaInput.readOnly = true;
            } else {
                // Se não houver matrícula, mantém o campo visível e editável
                matriculaInput.readOnly = false;
            }
        });
    </script>
</body>
</html>
