body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7c7c7c;
    color: #333;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #111111;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fffefe;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 1s ease-in-out;
}

li:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

li h2 {
    margin-bottom: 10px;
}

li p {
    color: #555;
}

li ul {
    margin-top: 10px;
    padding-left: 20px; 
}

.botao_voltar button {
    background-color: #005c86;
    color: #fff;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    border: black;
    border-radius: 5px;
    padding: 5px;
}

.botao_voltar button:hover {
    background-color: #2980b9;
}

.botao_voltar button:hover::before {
    content: "\2190"; 
    margin-right: 5px; 
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b30000;
}

@media (max-width: 768px) {
    li {
        padding: 15px;
    }
}

@media (max-width: 576px) {
    li {
        padding: 10px;
    }
}

a.botao_requisitar {
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin-left: 0px;
}
a.botao_requisitar:hover {
    background-color: green;
}
