body {
    font-family: 'Arial', sans-serif;
    background-color: #7c7c7c;
    color: #3333;
    margin: 20px;
    text-align: center;
}

.form-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ddd;
    border-radius: 10px;
    flex-wrap: wrap;
    max-width: 250px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #111111;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-size: 60px;
    margin-top: 5px;
}

#content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px; 
}

#content p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

#content p.highlight {
    background-color: #ffffcc;
}

#menu {
    margin-top: 20px;
    background-color: #bbbbbb;
}

#menu h2 {
    color: #333333;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#menu button {
    background-color: #333333;
    color: #fff;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu button:hover {
    background-color: #005c86;
}